@import "styles/variables.module";
.profile_bare{
  grid-area: 1 / 2 / 2 / 10;
  width: 100%;
  min-height: auto;
  background: $primary-color;
  .profile_info{
    display: flex;
    gap: 0.9em;
    justify-content: flex-end;
    color: black;
    margin-right: 0.9em;
    div{
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

  }
}
.profile_sign_out{
  cursor: pointer;
  &:hover{
    border-bottom: 2px solid black;
    transition: border-bottom 2ms ease-in-out;
  }
}
.profile_sign_in{
  padding: 0.4em 0;
  display: block;

}
.option_list{
  position: absolute;
  z-index: 15;
}
