@import "styles/variables.module";
@import "styles/mixin.module";
.login_form{
  background: $neumorphism-background-black;
  box-shadow: $neumorphism-box-shadow-black;
  width: 500px;
  padding: 2em;
  margin: 2em 0.5em;
  border-radius: 9px;
  .login_form_link{
    text-align: right;
  }
}
.edit_form{
  background: unset;
  box-shadow: unset;
  margin-top: 2em;
}
@include md{
  .login_form{
    width: 900px;
  }
}

