@import "styles/variables.module";
.link{
  list-style: none;
  background: $neumorphism-background;
  box-shadow: $neumorphism-box-shadow;
  .link_item{
    display: block;
    text-decoration: none;
    cursor: pointer;



  }
  .link_item_link{
    display: flex;
    align-items: center;
    padding: .1em 1em;
    gap: 0.3em;
    span{
      display: block;
    }
  }
}
.active{
  border-right: solid 4px rgba(248, 186, 14, 0.85);
  background: rgba(213, 157, 0, 0.16);
  padding: 0.5em 0;
  width: 100%;
}
