@import "styles/variables.module";
.chart_doughnut{
  background: $primary-color;
  padding: 2em;
  color: $black;
  display: inline-block;
  margin-bottom:2em ;
  margin-right:2em ;
  border-radius: 2em;
}
