@import "variables.module";
@import "mixin.module";

@include lg{
  .bank_account_and_chart{

	align-items: center;


  }
}
@include md{
  .bank_account_and_chart{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

  }
}

