.container {
  margin: auto 2rem;
  padding: 2rem 0;
}

.main {
  min-height: 100vh;
  margin-left: 270px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer a {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
