
@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
	@content;
  }
}
@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
	@content;
  }
}
@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
	@content;
  }
}
@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
	@content;
  }
}
@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
	@content;
  }
}

@mixin animation-in{
  @keyframes open-modal {
	0% {
	  opacity: 0;
	  transform: scale(0.6);
	}

	100% {
	  opacity: 1;
	  transform: scale(1);
	}
  }
}
@mixin input-type($types){
  input[type=#{$types}]{
	padding: 6px;
	font-size: 17px;
	border-width: 0;
	color: #fff;
	width: 100%;
	margin: 0.4em 0;
	border-style: solid;
	border-radius: 9px;
	box-shadow: -4px -4px 0px rgba(242,208,93,.75);
	&:focus{
	  outline:none;
	}
	&:read-only{
		background: rgba(129, 127, 122, 0.473);
		opacity: 0.5;
		cursor: not-allowed;
	}
  }
}

