$primary-color: #fff6db;
$black: #171414;
$modal-background : rgba(0, 0, 0, 0.78);
$modal-content-background : $primary-color;
$open-modal: open-modal 1s ease 0s 1 normal forwards;
$modal-text-align:center;
$breakpoints:(
        "xs":0,
        "sm":480px,
        "md":720px,
        "lg":960px,
        "xl":1200px,

);

