@import "styles/variables.module";
@import "styles/mixin.module";
.bank_account_header{
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.bank_account_header_add_btn{
  background: transparent;
  outline: none;
  box-shadow: $neumorphism-box-shadow-black;
  padding:.5em 1.5em ;
  cursor: pointer;
  border: solid 1px rgba(248, 186, 14, 0.85);
  font-size: 2rem;
  border-radius: 0.2em;

}
@include md{
  .bank_account_header{
	flex-direction: row;
    align-self: flex-start;
    .bank_account_section_btn{
      align-self: end;
    }
  }
}
