@import "styles/variables.module";
@import "styles/mixin.module";
.bank_account_header{

}
.bank_account_header_add_btn{
  background: transparent;
  outline: none;
  border: none;
  padding:.8em 1.5em ;
  cursor: pointer;
  border: solid 1px rgba(248, 186, 14, 0.85);
  font-size: 2rem;
  border-radius: 0.2em;

}
@include md{
  .bank_account_header{
	display: flex;
	align-items: center;
	gap: 1em;
  }
}
